.link-unstyled {
  color: inherit; /* Используйте цвет текста наследованный от родителя */
  text-decoration: none; /* Убирает подчеркивание */
  cursor: pointer; /* Придаёт указатель при наведении для индикации ссылки */
}
